<html>
  <head>
    <title>Welcome to FX-u-like</title>
  </head>
  <body>
    <h1>
      FX-u-like
    </h1>
    <div>
      <form action="http://localhost:4567/fxrate">
        <fieldset>
          <legend>Convert from one currency to another:</legend>
          Date:<br><input type="date" name="date" value="<%= @date %>"><br>
          Convert:<br><input name="amount" type="text" value="<%= @amount %>"><br>
          From:<br><select name="from_cur">
                      <option value="USD">USD</option>
                      <option value="JPY">JPY</option>
                      <option value="BGN">BGN</option>
                      <option value="CZK">CZK</option>
                      <option value="DKK">DKK</option>
                      <option value="GBP">GBP</option>
                      <option value="HUF">HUF</option>
                      <option value="PLN">PLN</option>
                      <option value="RON">RON</option>
                      <option value="SEK">SEK</option>
                      <option value="CHF">CHF</option>
                      <option value="NOK">NOK</option>
                      <option value="HRK">HRK</option>
                      <option value="RUB">RUB</option>
                      <option value="TRY">TRY</option>
                      <option value="AUD">AUD</option>
                      <option value="BRL">BRL</option>
                      <option value="CAD">CAD</option>
                      <option value="CNY">CNY</option>
                      <option value="HKD">HKD</option>
                      <option value="IDR">IDR</option>
                      <option value="ILS">ILS</option>
                      <option value="INR">INR</option>
                      <option value="KRW">KRW</option>
                      <option value="MXN">MXN</option>
                      <option value="MYR">MYR</option>
                      <option value="NZD">NZD</option>
                      <option value="PHP">PHP</option>
                      <option value="SGD">SGD</option>
                      <option value="THB">THB</option>
                      <option value="ZAR">ZAR</option>
                    </select><br>
            To:<br><select name="to_cur">
                      <option value="USD">USD</option>
                      <option value="JPY">JPY</option>
                      <option value="BGN">BGN</option>
                      <option value="CZK">CZK</option>
                      <option value="DKK">DKK</option>
                      <option value="GBP">GBP</option>
                      <option value="HUF">HUF</option>
                      <option value="PLN">PLN</option>
                      <option value="RON">RON</option>
                      <option value="SEK">SEK</option>
                      <option value="CHF">CHF</option>
                      <option value="NOK">NOK</option>
                      <option value="HRK">HRK</option>
                      <option value="RUB">RUB</option>
                      <option value="TRY">TRY</option>
                      <option value="AUD">AUD</option>
                      <option value="BRL">BRL</option>
                      <option value="CAD">CAD</option>
                      <option value="CNY">CNY</option>
                      <option value="HKD">HKD</option>
                      <option value="IDR">IDR</option>
                      <option value="ILS">ILS</option>
                      <option value="INR">INR</option>
                      <option value="KRW">KRW</option>
                      <option value="MXN">MXN</option>
                      <option value="MYR">MYR</option>
                      <option value="NZD">NZD</option>
                      <option value="PHP">PHP</option>
                      <option value="SGD">SGD</option>
                      <option value="THB">THB</option>
                      <option value="ZAR">ZAR</option>
                    </select><br><br>
          <input type="submit" value="Convert">
        </fieldset>
      </form>
      <p><%= @conversion_result %></p>
  </div>
  </body>
</html>
